/vendor/*
/node_modules
/public/hot
/public/storage/app/public*
/public/images/news
/public/vendor/telescope
/public/files/*
/public/images/users
/public/images/sales
storage/images*
storage/audios*
storage/api-docs/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
docker/mysql/db*
docker/redis*
docker/couch/dbdata*
composer.lock
package-lock.json
/.vagrant
/Vagrantfile
/ubuntu-bionic-18.04-cloudimg-console.log
/docker/nginx/logs*
/docker/filebeat*
/docker*
env/*
Dockerfile

.docker
public/storage1
